#titulo{
	font-style: italic;
	color:whitesmoke;
	text-align: center;
	letter-spacing: 5.0;
	margin-top: 60px;
	margin-bottom: 05px;
	   }

/* Para definir comandos para id's, utiliza-se "#". */

.seg_ter_h1{
	font-style: bold;
	color:darkslategray;
	text-align: center;
	   }

/* Para definir comandos para classe, utiliza-se "." */

p{
	color: red
  }

body{
	background: gray; 
	font-style: bold;
     }